    <footer class="footer">
      <div class="wrapper">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
            <h4>{{ site.title }}</h4>
            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            <p><a href="tel:{{ site.email }}">8 (800) 858-38-56</a></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <h4>Социальные сети</h4>
            <ul>
              {% if site.github_username %}<li>
                <a href="https://github.com/{{ site.github_username }}">
                  <span class="username">{{ site.github_username }}</span>
                </a>
              </li>{% endif %}
              {% if site.twitter_username %}<li>
                <a href="https://twitter.com/{{ site.twitter_username }}">
                  <span class="username">{{ site.twitter_username }}</span>
                </a>
              </li>{% endif %}
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="text">{{ site.description }}</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>