{% include head.html %}
<header class="header">
	<div class="wrapper">
		<div class="row">
			<div class="logo">
				<a class="site-title" href="{{ site.baseurl }}/">
					<img src="/uploads/assets/logo.png" alt="{{ site.title }}"/>
					<!--{{ site.title }}-->
				</a>
			</div>
			<nav class="navigation">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					{% for page in site.pages %}
						{% if page.title %}
							<li>
								<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</header>
