<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}"/>
	<meta name="keywords" content="{{ site.keywords }}"/>

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link rel="stylesheet" href="{{ "/css/flexboxgrid.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/colorbox.css" | prepend: site.baseurl }}">
</head>
<body>
	<header class="header">
		<div class="header__inner">
			<a class="header__logo" href="/">
				<img class="logo" src="/uploads/assets/logo.png" alt="{{ site.title }}">
				<h1 class="hidden">{{ site.title }}</h1>
			</a>
			<nav class="navigation">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					{% for page in site.pages %}
						{% if page.title %}
							<li>
								<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</div>
	</header>




	<section class="content">
		<div class="content__inner">
			{{ content }}
		</div>
	</section>


	<footer class="footer">
		<div class="footer__inner">
			<div class="wrapper">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
						<h4>Свяжитесь с нами</h4>
						<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
						<p><a href="tel:{{ site.email }}">8 (800) 858-38-56</a></p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
						<h4>Социальные сети</h4>
						<ul>
							{% if site.github_username %}<li>
								<a href="https://github.com/{{ site.github_username }}">
									<span class="username">{{ site.github_username }}</span>
								</a>
							</li>{% endif %}
							{% if site.twitter_username %}<li>
								<a href="https://twitter.com/{{ site.twitter_username }}">
									<span class="username">{{ site.twitter_username }}</span>
								</a>
							</li>{% endif %}
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<p class="text">{{ site.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>
	<script>
		$(document).ready(function(){
			//Examples of how to assign the Colorbox event to elements
			$(".group1").colorbox({
				width: '60%',
				rel:'group1'});
		});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	</body>
</html>
